html { scroll-behavior: smooth; }


@font-face { font-family: Outline; src: url("../Media/fonts/steelfish.outline-regular.otf") format("opentype"); }
@font-face { font-family: Regular; src: url("../Media/fonts/steelfish.eb-regular.otf") format("opentype"); }
@font-face { font-family: ItalicS; src: url("../Media/fonts/steelfish.rg-italic.otf") format("opentype"); }

:root {
    --vadimColor: #b89393;
    --silaColor: #869fa7;
    --sexColor: #0d0f10;
    --loveColor: #e14646;
    --loveColor2: #663636;
    --funColor: #e5e297;
    --funColor2: #86856a;
    --foreplayColor: #bf6976;
    --foreplayColor2: #6b4c50;
    --roleplayColor: #e7c1a6;
    --roleplayColor2: #887b72;
    --drinkColor: #9ad4ea;
    --drinkColor2: #576b72;
    --randomColor: #d2b2f4;
}

body,
html {
    font-family: sans;
    background-color: #2F2F2F;
    color: antiquewhite;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #2F2F2F;
}

#cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 70%;
    height: 60%;
}

#dealCard {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    touch-action: manipulation;
}

.card {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 2.2rem;
    border-radius: 10px; 
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .7);
    border: 1px solid #ccc;
    transition: transform 1s ease, opacity 1s ease;
}

.card_front {
    background-color: #2F2F2F;
    z-index: 2; 
    font-family: Outline;
    padding: 11px;
    top: 0;
    transform: translate(-11px);
    font-size: 6rem;
    transition: .3s ease top;
    z-index: 4;
}

.cardFrontAnimation {
    top: -150%;
}

.card_back {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1; 
    line-height: 1;
    font-family: Regular;
    font-size: 2.2rem; 
    padding: 10px;
    transform: translate(-10px);
    top: 0;
    transition: .3s ease top;
    z-index: 2;
    white-space: pre-line; 

/* card-sex SEX CARD SEXCARD CARDSEX */
    background-color: #252525;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 95%;
    color: white;
}

.cardBackAnimation {
    top: 150%;
}

.cardBackOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .7);
    border: 1px solid #ccc;
    transition: .3s ease top, background-color .3s ease;
    background-color: rgb(146, 145, 145);
    transform: translate(-10px);
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    background-image: url(../Media/img/cardsWhite.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
}

.cardBackOverlayShow {
    top: 150%;
    z-index: 3;
    background-color: #202020;
}

.random_card_front {
    position: absolute;
    width: 100%;
    height: 160%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(270deg);
    background-color: #B92168;
    transition: 1s ease all;
    padding: 30px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-shadow: 2px 2px 10px black;
    text-align: center; 
    font-family: Outline;
    background-image: url("../Media/img/lucky2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 4000;
}

.randomCardFrontShow {
    position: absolute;
    width: 100%;
    height: 160%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    transition: 1s ease all;
    z-index: 199999;
}

.randomCardFrontHide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(-90deg); 
    transition: transform 1s ease;
    z-index: 199999;
}

.random_card_heading {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-family: Outline;
    font-weight: 400;
    z-index: 4001;
    color: #21b972; 
}

.random_card_text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem; 
    font-family: Regular;
    line-height: 1.5; 
    color: rgb(212, 212, 212);
}


.player_1_BG {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    background-color: var(--vadimColor);
    clip-path: polygon(0 0, 30% 0, 55% 100%, 0% 100%);
    transition: .4s ease all;
}

.player1BGHide {
    left: -100%;
    transition: .4s ease all;
}

.player_2_BG {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 255);
    background-color: var(--silaColor);
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 45% 100%);
    transition: .4s ease all;
}

.player2BGShow {
    left: 0%;
    transition: .4s ease all;
}

.player_turn_display {
    display: flex;
    position: absolute;
    top: 7vh;
    left: 15%;
    width: 7rem;
    justify-content: center;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    z-index: 300;
    font-family: Italics;
    font-size: 3rem;
    transition: .4s ease all;
}

.player_turn_display_s {
    left: 90%;
    width: 4rem;
}

#jokerContainer {
    position: absolute;
    top: 93%;
    left: 0%;
    width: 100%;
    display: flex;
    gap: 10px;
    
    font-size: 20px;
    font-weight: bold;
    z-index: 300;
    font-family: ItalicS;
    font-size: 3rem;
}

.player1Jokers {
    position: absolute;
    bottom: 10%;
    left: -50%;
    transition: .5s ease left;
}

.player2Jokers {
    position: absolute;
    bottom: 10%;
    right: -50%;
    transition: .5s ease right;
}

.player1JokersShow {
    position: absolute;
    bottom: 10%;
    left: 5%;

}

.player2JokersShow {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.jokerButton {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 4, 255);
    background-color: var(--vadimColor);
    color: #202020;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-family: ItalicS;
    z-index: 300;
    transition: all .2s ease;
    box-shadow: 0px 0px 10px white;
}

.jokerButtonHide {
    bottom: 7%;
    transition: all .5s ease;
}

.jokerButton_p2 {
    background-color: rgb(196, 72, 72);
    background-color: var(--silaColor);
}

.jokerMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) rotateY(90deg);
    background-color: yellow;
    border-radius: 10px;
    color: black;
    
    font-size: 5rem;
    font-family: Regular;
    text-align: center;
    padding: 25px;

    z-index: 1000;
    transition: 1s ease all;
}

.jokerMessageShow {
    transform: translate(-50%, -50%) rotateY(0);
}

.counter_display {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 300;
    font-family: ItalicS;
    font-size: 1.5rem;
    box-shadow: 0px 0px 10px white;
}



/* CARDS ------------------------------------------------------------------------------------  */

.card-text {
    position: absolute;
    display: flex;
    font-size: 2.7rem;
    margin: 0;
    top: 3%;
    z-index: 3000000;
    font-family: Outline;
    background-color: black;
}

.card-love .card_front,
.card-foreplay .card_front,
.card-sex .card_front,
.card-roleplay .card_front,
.card-foreplay .card_front,
.card-drink .card_front,
.card-fun .card_front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow: 2px 2px 10px black;
}

.card-love .card_front {
    background-color: var(--loveColor);
    color: white;
    border: 2px solid red;
    background-image: url("../Media/img/love.png");
}


.card-foreplay .card_front {
    background-color: var(--foreplayColor);
    color: white;
    border: 2px solid white;
    background-image: url("../Media/img/foreplay.png");
}

.card-sex .card_front {
    background-color: var(--sexColor);
    color: rgb(220, 0, 0);
    border: 2px solid white;
    background-image: url("../Media/img/sex.png");
    background-size: 80%;
}

.card-roleplay .card_front {
    background-color: var(--roleplayColor);
    color: white;
    border: 2px solid rgb(255, 255, 255);;
    background-image: url("../Media/img/roleplay.png");

}

.card-drink .card_front {
    background-color: lightblue;
    background-color: var(--drinkColor);
    color: white;
    border: 2px solid white;
    background-image: url("../Media/img/drink.png");
}

.card-fun .card_front {
    background-color: yellow;
    background-color: var(--funColor);
    color: white;
    border: 2px solid white;;
    background-image: url("../Media/img/fun.png");
}

/* 12 Love ------------------------------------------------------------------------------------ */
.card-love-1 .card_back,
.card-love-2 .card_back,
.card-love-3 .card_back,
.card-love-4 .card_back,
.card-love-5 .card_back,
.card-love-6 .card_back,
.card-love-7 .card_back,
.card-love-8 .card_back,
.card-love-9 .card_back,
.card-love-10 .card_back,
.card-love-11 .card_back,
.card-love-12 .card_back {
    background-color: var(--loveColor2);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 95%;
    text-shadow: 2px 2px 10px black;
}

.card-love-1 .card_back {
    background-image: url("../Media/img/one-shot.png");
}

.card-love-2 .card_back {
    background-image: url("../Media/img/two-shot.png");
}

.card-love-3 .card_back {
    background-image: url("../Media/img/one-shot.png");
}

.card-love-4 .card_back {
    background-image: url("../Media/img/two-shot.png");
}

.card-love-5 .card_back {
    background-image: url("../Media/img/two-shot.png");
}

.card-love-6 .card_back {
    background-image: url("../Media/img/one-shot.png");
}

.card-love-7 .card_back {
    background-image: url("../Media/img/two-shot.png");
}

.card-love-8 .card_back {
    background-image: url("../Media/img/one-shot.png");
}

.card-love-9 .card_back {
    background-image: url("../Media/img/one-shot.png");
}

.card-love-10 .card_back {
    background-image: url("../Media/img/two-shot.png");
}

.card-love-11 .card_back {
    background-image: url("../Media/img/one-shot.png");
}

.card-love-12 .card_back {
    background-image: url("../Media/img/one-shot.png");
}

/* 31 Foreplay ------------------------------------------------------------------------------------ */
.card-foreplay-1 .card_back,
.card-foreplay-2 .card_back,
.card-foreplay-3 .card_back,
.card-foreplay-4 .card_back,
.card-foreplay-5 .card_back,
.card-foreplay-6 .card_back,
.card-foreplay-7 .card_back,
.card-foreplay-8 .card_back,
.card-foreplay-9 .card_back,
.card-foreplay-10 .card_back,
.card-foreplay-11 .card_back,
.card-foreplay-12 .card_back,
.card-foreplay-13 .card_back,
.card-foreplay-14 .card_back,
.card-foreplay-15 .card_back,
.card-foreplay-16 .card_back,
.card-foreplay-17 .card_back,
.card-foreplay-18 .card_back,
.card-foreplay-19 .card_back,
.card-foreplay-20 .card_back,
.card-foreplay-21 .card_back,
.card-foreplay-22 .card_back,
.card-foreplay-23 .card_back,
.card-foreplay-24 .card_back,
.card-foreplay-25 .card_back,
.card-foreplay-26 .card_back,
.card-foreplay-27 .card_back,
.card-foreplay-28 .card_back,
.card-foreplay-29 .card_back,
.card-foreplay-30 .card_back,
.card-foreplay-31 .card_back {
    background-color: var(--foreplayColor2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 95%;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.card-foreplay-1 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-2 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-3 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-4 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-5 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-6 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-7 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-8 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-9 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-foreplay-10 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-11 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-12 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-13 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-14 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-foreplay-15 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-16 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-foreplay-17 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-18 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-19 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-20 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-21 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-22 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-23 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-24 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-25 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-26 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-27 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-foreplay-28 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-foreplay-29 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-foreplay-30 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-foreplay-31 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

/* 4 Roleplay ------------------------------------------------------------------------------------ */
.card-roleplay-1 .card_back,
.card-roleplay-2 .card_back,
.card-roleplay-3 .card_back,
.card-roleplay-4 .card_back {
    background-color: var(--roleplayColor2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 95%;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.card-roleplay-1 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-roleplay-2 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-roleplay-3 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-roleplay-4 .card_back {
    background-image: url(../Media/img/one-shot.png);
}



/* 14 Sex ------------------------------------------------------------------------------------ */
.cardsex-1 .card_back,
.cardsex-2 .card_back,
.cardsex-3 .card_back,
.cardsex-4 .card_back,
.cardsex-5 .card_back,
.cardsex-6 .card_back,
.cardsex-7 .card_back,
.cardsex-8 .card_back,
.cardsex-9 .card_back,
.cardsex-10 .card_back,
.cardsex-11 .card_back,
.cardsex-12 .card_back,
.cardsex-13 .card_back,
.cardsex-14 .card_back {
    background-color: #717171;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 95%;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.card-sex-1 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-sex-2 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-sex-3 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-sex-4 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-sex-5 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-sex-6 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-sex-7 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-sex-8 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-sex-9 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-sex-10 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-sex-11 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-sex-12 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-sex-13 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-sex-14 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

/* 5 Drink ------------------------------------------------------------------------------------ */
.card-drink-1 .card_back,
.card-drink-2 .card_back,
.card-drink-3 .card_back,
.card-drink-4 .card_back,
.card-drink-5 .card_back {
    background-color: var(--drinkColor2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 95%;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.card-drink-1 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-drink-2 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-drink-3 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-drink-4 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-drink-5 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

/* 20 Fun ------------------------------------------------------------------------------------ */
.card-fun-1 .card_back,
.card-fun-2 .card_back,
.card-fun-3 .card_back,
.card-fun-4 .card_back,
.card-fun-5 .card_back,
.card-fun-6 .card_back,
.card-fun-7 .card_back,
.card-fun-8 .card_back,
.card-fun-9 .card_back,
.card-fun-10 .card_back,
.card-fun-11 .card_back,
.card-fun-12 .card_back,
.card-fun-13 .card_back,
.card-fun-14 .card_back,
.card-fun-15 .card_back,
.card-fun-16 .card_back,
.card-fun-17 .card_back,
.card-fun-18 .card_back,
.card-fun-19 .card_back,
.card-fun-21 .card_back,
.card-fun-20 .card_back {
    background-color: var(--funColor2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 95%;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.card-fun-1 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-fun-2 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-3 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-fun-4 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-fun-5 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-6 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-7 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-fun-8 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-9 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-10 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-11 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-12 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-fun-13 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-fun-14 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-15 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-fun-16 .card_back {
    background-image: url(../Media/img/three-shot.png);
}

.card-fun-17 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-18 .card_back {
    background-image: url(../Media/img/two-shot.png);
}

.card-fun-19 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-20 .card_back {
    background-image: url(../Media/img/one-shot.png);
}

.card-fun-21 .card_back {
    background-image: url(../Media/img/one-shot.png);
}
